---

clouds_yaml: "{{ vault_clouds_yaml }}"

all_authorized_key_users: "{{ vault_all_authorized_key_users }}"

all_packages:
  - htop

ansible_ssh_private_key_file: "{{ inventory_dir }}/{{ os_key_name }}.pem"

controller_name: "{{ cloud_id | replace('_', '-') }}0"
controller_ip: "{{ hostvars[groups.controllers[0]]['ansible_default_ipv4']['address'] }}"
slurm_cluster_name: "{{ cloud_id | replace('_', '-') }}"
slurm_controller_name: "{{ controller_name }}"
slurm_controller_ip: "{{ controller_ip }}"

os_cloud_id: "{{ cloud_id }}"
os_clouds_yaml: "{{ clouds_yaml }}"
os_secrets:
  - dest: "{{ os_key_name }}.pem"
    content: "{{ openstack_privatekeys.admin }}"

os_name: "{{ inventory_hostname_short }}"

os_key_name: admin-kp

os_nics:
  - net-name: "{{ os_network.name }}"

os_network:
  name: "usegalaxy"
  subnet:
    name: "usegalaxy"
    cidr: 10.0.0.0/22
  router:
    name: "usegalaxy"
    network: public

os_security_group_rules:
  - name: usegalaxy-control
    rules:
      - protocol: tcp
        remote_ip_prefix: 0.0.0.0/0
        port_range_min: 22
        port_range_max: 22
      - protocol: tcp
        remote_ip_prefix: 0.0.0.0/0
        port_range_min: 80
        port_range_max: 80
      - protocol: tcp
        remote_ip_prefix: 129.114.60.0/24
        port_range_min: 1
        port_range_max: 65535
      - protocol: udp
        remote_ip_prefix: 129.114.60.0/24
        port_range_min: 1
        port_range_max: 65535
      - protocol: udp
        remote_ip_prefix: 129.114.60.0/24
        port_range_min: 1
        port_range_max: 65535
  - name: docker
    rules:
      - protocol: tcp
        remote_ip_prefix: 128.118.0.0/16
        port_range_min: 2377
        port_range_max: 2377
      - protocol: tcp
        remote_ip_prefix: 128.118.0.0/16
        port_range_min: 7946
        port_range_max: 7946
      - protocol: udp
        remote_ip_prefix: 128.118.0.0/16
        port_range_min: 7946
        port_range_max: 7946
      - protocol: udp
        remote_ip_prefix: 128.118.0.0/16
        port_range_min: 4789
        port_range_max: 4789
      - protocol: tcp
        remote_ip_prefix: 149.165.0.0/16
        port_range_min: 2377
        port_range_max: 2377
      - protocol: tcp
        remote_ip_prefix: 149.165.0.0/16
        port_range_min: 7946
        port_range_max: 7946
      - protocol: udp
        remote_ip_prefix: 149.165.0.0/16
        port_range_min: 7946
        port_range_max: 7946
      - protocol: udp
        remote_ip_prefix: 149.165.0.0/16
        port_range_min: 4789
        port_range_max: 4789
      - protocol: tcp
        remote_ip_prefix: 129.114.0.0/16
        port_range_min: 2377
        port_range_max: 2377
      - protocol: tcp
        remote_ip_prefix: 129.114.0.0/16
        port_range_min: 7946
        port_range_max: 7946
      - protocol: udp
        remote_ip_prefix: 129.114.0.0/16
        port_range_min: 7946
        port_range_max: 7946
      - protocol: udp
        remote_ip_prefix: 129.114.0.0/16
        port_range_min: 4789
        port_range_max: 4789

slurm_user:
  uid: 40302
  gid: 40302
  comment: 'Slurm Workload Manager'
  home: /var/lib/slurm
  shell: /bin/bash

galaxy_cvmfs_repos_enabled: yes

all_groups:
  - name: G-803372
    gid: 803372
  - name: TACC-ACS
    gid: 814239

all_users:
  - name: g2test
    group: G-803372
    groups: TACC-ACS
    comment: 'Galaxy Test Server'
    uid: 819456
    home: /home/g2test
    shell: /bin/bash
  - name: g2main
    group: G-803372
    groups: TACC-ACS
    comment: 'Galaxy Main Server'
    uid: 819800
    home: /home/g2main
    shell: /bin/bash

all_yum_repositories:
  - name: galaxy_gpel
    description: Galaxy Packages for Enterprise Linux $releasever - $basearch
    baseurl: https://depot.galaxyproject.org/yum/el/$releasever/$basearch/
    enabled: yes
    gpgcheck: no
