---

tool_shed_config_admin_users: "{{ vault_tool_shed_config_admin_users }}"
tool_shed_config_id_secret: "{{ vault_tool_shed_config_id_secret }}"
tool_shed_config_sentry_dsn: "{{ vault_tool_shed_config_sentry_dsn }}"

default_locale: en_US.UTF-8

host_packages:
  - xfsprogs

filesystems:
  - dev: /dev/vdb
    fstype: xfs
    #force: true
  - dev: /dev/vdc
    fstype: xfs
    #force: true

mounts:
  - src: /dev/vdb
    path: /var/lib/postgresql
    fstype: xfs
    mode: "0755"
    #owner: root
    #group: root
  - src: /dev/vdc
    path: /srv
    fstype: xfs
    mode: "0755"
    owner: root
    group: root

host_private_key_users:
  - name: postgres
    keys:
      - key: backup_tts_rsync
        file: id_backup_rsync
      - key: backup_tts_zfs
        file: id_backup_zfs
  - name: shed
    keys:
      - key: backup_tts_rsync
        file: id_backup_rsync
      - key: backup_tts_zfs
        file: id_backup_zfs

host_lines:
  - path: "~{{ tool_shed_user }}/.ssh/known_hosts"
    line: "{{ ssh_host_keys[zfs_backup.tts.server] }}"
    create: true
    mode: "0644"
    owner: "{{ tool_shed_user }}"
    group: "{{ tool_shed_group }}"
  - path: ~postgres/.ssh/known_hosts
    line: "{{ ssh_host_keys[zfs_backup.tts.server] }}"
    create: true
    mode: "0644"
    owner: postgres
    group: postgres

# DB Version: 16
# OS Type: linux
# DB Type: web
# Total Memory (RAM): 8 GB
# CPUs num: 2
# Connections num: 100
# Data Storage: hdd
postgresql_conf:
  max_connections: 100
  shared_buffers: 2GB
  effective_cache_size: 6GB
  maintenance_work_mem: 512MB
  checkpoint_completion_target: 0.9
  wal_buffers: 16MB
  default_statistics_target: 100
  random_page_cost: 4
  effective_io_concurrency: 2
  work_mem: 10485kB
  huge_pages: "off"
  min_wal_size: 1GB
  max_wal_size: 4GB

postgresql_backup_hour: 1

zfs_backup_profile: "{{ zfs_backup.tts }}"
tool_shed_backup_hour: 0

tool_shed_dbname: tool_shed_test
tool_shed_instance_codename: test
tool_shed_instance_hostname: testtoolshed.g2.bx.psu.edu
tool_shed_version: dev
tool_shed_config_ga_code: "UA-45719423-8"
tool_shed_gunicorn_memory_limit: 10G
tool_shed_hgweb_memory_limit: 2G

## used by: error_pages
error_pages_title: "Galaxy Tool Shed (sandbox for testing)"
error_pages_server_name: "The Galaxy Test Tool Shed"
