---

zfs_zpools:
  - name: data
    pool_properties:
      # 8k blocks
      ashift: 13
      # this allows you to increase the dataset, instructions are in GZ host vars
      autoexpand: true
    filesystem_properties:
      compression: lz4
    vdevs:
      - disks:
          - /dev/vdb

zfs_filesystems:
  - name: data
    mountpoint: "none"
  - name: data/srv
    mountpoint: /srv
  - name: data/srv/cvmfs
    mountpoint: /srv/cvmfs
  - name: data/srv/cvmfs/test.galaxyproject.org
    mountpoint: /srv/cvmfs/test.galaxyproject.org
    owner: g2test
    group: G-803372
  - name: data/srv/cvmfs/main.galaxyproject.org
    mountpoint: /srv/cvmfs/main.galaxyproject.org
    owner: g2main
    group: G-803372
  - name: data/srv/cvmfs/data.galaxyproject.org
    mountpoint: /srv/cvmfs/data.galaxyproject.org
    owner: data
    group: data
  - name: data/srv/cvmfs/refgenomes-databio.galaxyproject.org
    mountpoint: /srv/cvmfs/refgenomes-databio.galaxyproject.org
    owner: refgenie
    group: refgenie
  - name: data/srv/cvmfs/sandbox.galaxyproject.org
    mountpoint: /srv/cvmfs/sandbox.galaxyproject.org
    owner: sandbox
    group: sandbox
  - name: data/srv/cvmfs/singularity.galaxyproject.org
    mountpoint: /srv/cvmfs/singularity.galaxyproject.org
    owner: singularity
    group: singularity
  - name: data/srv/cvmfs/usegalaxy.galaxyproject.org
    mountpoint: /srv/cvmfs/usegalaxy.galaxyproject.org
    owner: usegalaxy
    group: usegalaxy
  - name: data/srv/cvmfs/cvmfs-config.galaxyproject.org
    mountpoint: /srv/cvmfs/cvmfs-config.galaxyproject.org
  - name: data/srv/cvmfs/cloud.galaxyproject.org
    mountpoint: /srv/cvmfs/cloud.galaxyproject.org
    owner: cloud
    group: cloud
  - name: data/srv/cvmfs/idc.galaxyproject.org
    mountpoint: /srv/cvmfs/idc.galaxyproject.org
    owner: idc
    group: idc
  - name: data/srv/cvmfs/brc.galaxyproject.org
    mountpoint: /srv/cvmfs/brc.galaxyproject.org
    owner: brc
    group: brc
  - name: data/srv/cvmfs/vgp.galaxyproject.org
    mountpoint: /srv/cvmfs/vgp.galaxyproject.org
    owner: vgp
    group: vgp

#cvmfs_x509_cert_bundle: /etc/pki/tls/cert.pem
