*.swp
*.retry
clouds.yaml

collections

# Ignore specific roles installed with Ansible Galaxy. Once they're all moved, this can be roles/*.*
roles/dj-wasabi.telegraf
roles/galaxyproject.cvmfs
roles/galaxyproject.galaxy
roles/galaxyproject.mailman3
roles/galaxyproject.nginx
roles/galaxyproject.opendkim
roles/galaxyproject.postfix
roles/galaxyproject.postgresql
roles/galaxyproject.postgresql_objects
roles/galaxyproject.slurm
roles/galaxyproject.telegraf_cvmfs
roles/geerlingguy.repo-epel
roles/usegalaxy_eu.certbot
roles/usegalaxy_eu.gxadmin
roles/galaxyproject.gxadmin
roles/artis3n.tailscale
roles/atosatto.minio
