*.swp
*.retry
clouds.yaml

# Ignore specific roles installed with Ansible Galaxy. Once they're all moved, this can be roles/*.*
roles/dj-wasabi.telegraf
roles/galaxyproject.cvmfs
roles/galaxyproject.galaxy
roles/galaxyproject.mailman3
roles/galaxyproject.nginx
roles/galaxyproject.opendkim
roles/galaxyproject.postfix
roles/galaxyproject.postgresql
roles/galaxyproject.slurm
roles/geerlingguy.repo-epel
roles/usegalaxy_eu.certbot
