[defaults]

# use pass for vault
vault_password_file = ./.pass-vault

# use pass for become
# because this does not fail gracefully for non-TACC inventories, use $ANSIBLE_BECOME_PASSWORD_FILE instead
#become_password_file = ./.pass-become

# include things from galaxyproject/ansible-common-roles
roles_path = roles
collections_path = collections

# include modules from library
library = library

# use openssh so that we can persist connections
transport = ssh

# make error messages readable
#stdout_callback = debug
#stdout_callback = yaml
result_format = yaml

[ssh_connection]

# enable pipelining with OpenSSH
pipelining = True

# Enable control socket for connection reuse
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

# These are necessary for cloud instances
#pipelining = False
#ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no

[diff]
always = True
