---

- name: List Servers
  hosts: list_servers
  roles:
    #- role: galaxyproject.general.virtual
    #  # postfix here to get the elastic IP
    #  tags: [general, postfix]
    - role: galaxyproject.general.packages
      tags: [general, mailman]
    - role: galaxyproject.general.paths
      tags: [general, mailman]
    - role: galaxyproject.general.users
      tags: [general, mailman, users]
    - role: galaxyproject.opendkim
      tags: [postfix, opendkim]
    - role: galaxyproject.postfix
      tags: postfix
    - role: galaxyproject.postgresql
      tags: postgres
    - role: usegalaxy_org.postgresql_relocate_pgdata
      tags: postgres
    - role: galaxyproject.postgresql_objects
      become: true
      become_user: postgres
      tags: postgres
    - role: galaxyproject.mailman3
      tags: mailman
    - role: galaxyproject.nginx
      tags: nginx
  post_tasks:
    - name: Add postfix user to opendkim group
      user:
        name: postfix
        groups: opendkim
      notify:
        - restart postfix
      tags: postfix
    - name: Deploy Mailman venv extra files (files)
      ansible.builtin.copy:
        src: "mailman/{{ item.name }}"
        dest: "{{ (mailman3_install_dir, item.dir, item.name) | path_join }}"
        mode: "{{ '0755' if item.dir == 'bin' else '0644' }}"
      loop: "{{ mailman3_venv_extra_files }}"
      when: not item.name.endswith('.j2')
    - name: Deploy Mailman venv extra files (templates)
      ansible.builtin.template:
        src: "mailman/{{ item.name }}"
        dest: "{{ (mailman3_install_dir, item.dir, item.name | splitext | first) | path_join }}"
        mode: "{{ '0755' if item.dir == 'bin' else '0644' }}"
      loop: "{{ mailman3_venv_extra_files }}"
      when: item.name.endswith('.j2')
    - name: Source virtualenv in Mailman users .bashrc
      ansible.builtin.lineinfile:
        path: "{{ item }}"
        line: "[[ -n $VIRTUAL_ENV ]] || . {{ mailman3_install_dir }}/bin/activate"
      loop:
        - /var/list/.bashrc
        - /var/lib/mailman3/web/.bashrc
    - name: Add aliases for mailman-web in mailman3-web user .bashrc
      ansible.builtin.lineinfile:
        path: /var/lib/mailman3/web/.bashrc
        line: "alias mailman-web-{{ item }}='PYTHONPATH=/var/lib/mailman3/web/project DJANGO_SETTINGS_MODULE=settings_lists_{{ item }}project_org mailman-web'"
      loop:
        - galaxy
        - anvil
    - name: Allow SMTP traffic in ufw
      community.general.ufw:
        #name: Postfix
        #delete: true
        rule: allow
        direction: in
        proto: tcp
        from_ip: any
        to_port: "25"
      when: "'psu_vmhosting_hosts' in group_names"
      tags: ufw

#- name: MX Servers
#  hosts: mx_servers
#  roles:
#    - role: galaxyproject.general.users
#      tags: [general, mailman]
