---

- name: Mail (MX) Servers
  hosts: mx_servers
  roles:
    - role: galaxyproject.general.virtual
      # postfix here to get the elastic IP
      tags: [general, postfix]
      when: "'psu_vmhosting_hosts' not in group_names"
    - role: galaxyproject.general.packages
      tags: general
    - role: galaxyproject.general.paths
      tags: general
    - role: galaxyproject.general.users
      tags: general
    - role: galaxyproject.opendkim
      tags: [postfix, opendkim]
    - role: galaxyproject.postfix
      tags: postfix
  post_tasks:
    - name: Add postfix user to opendkim group
      user:
        name: postfix
        groups: opendkim
      notify:
        - restart postfix
      tags: postfix
    - name: Allow SMTP traffic in ufw
      community.general.ufw:
        #name: Postfix
        #delete: true
        rule: allow
        direction: in
        proto: tcp
        from_ip: any
        to_port: "25"
      when: "'psu_vmhosting_hosts' in group_names"
      tags: ufw
