##
## This file is managed by Ansible.  ALL CHANGES WILL BE OVERWRITTEN.
##

#principal       [priv1,priv2,...]       [glob-pattern]
{% for principal in kerberos_kdc_admin_principals %}
{{ principal }} all
{% endfor %}
