##
## This file is managed by Ansible.  ALL CHANGES WILL BE OVERWRITTEN.
##

#principal       [priv1,priv2,...]       [glob-pattern]
{% for d in kerberos_kdc_admin_principals %}
{{ d.principal }} {{ d.rights | default(["all"]) | join(",") }} {{ d.restrict | default("") }}
{% endfor %}
