##
## This file is managed by Ansible.  ALL CHANGES WILL BE OVERWRITTEN.
##

[kdcdefaults]
    kdc_ports = 750,88

[realms]
    {{ kerberos_kdc_realm }} = {
        database_name = {{ kerberos_kdc_dbname }}
        admin_keytab = {{ kerberos_kdc_admin_keytab }}
        acl_file = {{ kerberos_kdc_kadmind_acl_file }}
        key_stash_file = {{ kerberos_kdc_stash_file }}
        kdc_ports = 750,88
        max_life = {{ kerberos_kdc_max_life | default("10h 0m 0s") }}
        max_renewable_life = {{ kerberos_kdc_max_renewable_life | default("7d 0h 0m 0s") }}
        #master_key_type = aes256-cts
        #supported_enctypes = aes256-cts:normal aes128-cts:normal
        default_principal_flags = +preauth
    }
