<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>

<head>
    <title>{{ error_pages_title }}</title>
    <link href="{{ error_pages_prefix }}/style.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="masthead">
    <div class="pageTitle"><a target="_blank" href="{{ error_pages_masthead_url }}">{{ error_pages_title }}</a></div>
</div>

<div class="content">
    <h2>Forbidden.</h2>
    <p>
		{% if error_pages_message_403 is defined -%}
		{{ error_pages_message_403 }}
		{% else %}
		You don't have permission to access this page.
		{% endif %}
    </p>
</div>

</body>
</html>

