body
{
    font: 75% verdana, "Bitstream Vera Sans", geneva, arial, helvetica, helve, sans-serif;
    background: white url({{ error_pages_prefix }}/content_bg.png) top repeat-x;
    color: #303030;
    padding: 0;
    border: 0;
    margin: 0;
    margin-right: 0;
    margin-left: 0;
}

div.pageTitle
{
    font-size: x-large;
    font-weight: bold;
}

div.pageTitle a:link, div.pageTitle a:visited, div.pageTitle a:active, div.pageTitle a:hover
{
    text-decoration: none;
    color: #ece7f2;
}
/*a:link, a:visited, a:active
{
}*/
td.masthead
{
    vertical-align: middle;
    background: #023858 url({{ error_pages_prefix }}/masthead_bg.png) bottom;
    height: 40px;
    padding-left: 10px;
}
td.content
{
    vertical-align: top;
    padding: 10px;
}
a:link, a:visited, a:active
{
    color: #303030;
}
