---

# FIXME upstream: The debian `telegraf` package now depends on inlfluxdata-archive-keyring, which installs its own
# sources list at influxdata.list, and this uses signed-by=/usr/share/keyrings/influxdata-archive.gpg vs. the role's
# .asc, causing a conflict and apt failure. This is a temporary workaround and breaks things for new installs.
telegraf_agent_package_method: manual

influxdb_client_pass: "{{ vault_influxdb_client_pass }}"

# run telegraf on everything
telegraf_agent_package_state: latest

# 10s is the default if unset, set `interval = "<seconds>s"` on [agent] or on plugins to override
telegraf_agent_interval: 60

# otherwise this can be the tailnet hostname
telegraf_agent_hostname: "{{ inventory_hostname }}"

# remove anything in /etc/telefraf/telegraf.d not explicitly specified
# use with -e as this does not work as advertised (it wipes the directory and reinstalls, so is changed every time)
#telegraf_plugins_extra_exclusive: true

_default_telegraf_agent_output:
  - type: influxdb
    config:
    - urls = ["https://stats.galaxyproject.org:8086"]
    - username = "client"
    - password = "{{ influxdb_client_pass }}"
    - database = "system"
    # 5s is the default if unset
    - timeout = "{{ telegraf_influxdb_output_timeout | default('5s') }}"

telegraf_agent_output: "{{ _override_telegraf_agent_output | default(_default_telegraf_agent_output) }}"

_default_telegraf_plugins_default:
  - plugin: cpu
    config:
      - percpu = true
  - plugin: disk
  - plugin: kernel
  - plugin: processes
  - plugin: diskio
  - plugin: mem
  - plugin: system
  - plugin: swap
  - plugin: net
    config:
      # prevent collecting docker veth* which wrecks series cardinality
      - interfaces = ["eth*", "en*", "net*", "lo"]
  - plugin: netstat

telegraf_plugins_default: "{{ _override_telegraf_plugins_default | default(_default_telegraf_plugins_default) }}"
telegraf_plugins_extra: "{{ lookup('galaxyproject.general.inheritance_chain', 'telegraf_plugins_extra') }}"
