---

smartos_images:
  # debian-12 20250403 linux zvol 2025-04-03
  - uuid: 0af17cba-b834-4c42-bc8a-35d0b53392cc
    state: present


# authorized keys are only on launch, the playbook manages the keys once run on the guest
smartos_vms:
  - name: leeroy
    brand: bhyve
    ram: 2048
    vcpus: 2
    resolvers: "{{ smartos_resolvers }}"
    nics:
      - nic_tag: external
        ip: "{{ lookup('dig', 'leeroy.galaxyproject.org') }}"
        netmask: 255.255.255.0
        gateway: 172.18.2.1
        vlan_id: 406
        model: virtio
    disks:
      - image_uuid: 0af17cba-b834-4c42-bc8a-35d0b53392cc
        boot: true
        model: virtio
        size: 24576
      - boot: false
        model: virtio
        size: 1048576
    customer_metadata:
      root_authorized_keys: "{{ ssh_public_keys.nate_coraor }}"
  #- name: jenkins1
  #  brand: bhyve
  #  ram: 1024
  #  vcpus: 1
  #  resolvers: "{{ smartos_resolvers }}"
  #  nics:
  #    - nic_tag: external
  #      ip: "{{ lookup('dig', 'jenkins1.galaxyproject.org') }}"
  #      netmask: 255.255.255.0
  #      gateway: 172.18.2.1
  #      vlan_id: 406
  #      model: virtio
  #  disks:
  #    - image_uuid: 9bcfe5cc-007d-4f23-bc8a-7e7b4d0c537e
  #      boot: true
  #      model: virtio
  #    - boot: false
  #      model: virtio
  #      size: 32768
  #  customer_metadata:
  #    root_authorized_keys: "{{ ssh_public_keys.nate_coraor }}"
  - name: sentry
    brand: bhyve
    ram: 49152
    vcpus: 12
    resolvers: "{{ smartos_resolvers }}"
    nics:
      - nic_tag: external
        ip: "{{ lookup('dig', 'sentry.galaxyproject.org') }}"
        netmask: 255.255.255.224
        gateway: 128.118.250.1
        vlan_id: 306
        model: virtio
    disks:
      - image_uuid: 0af17cba-b834-4c42-bc8a-35d0b53392cc
        boot: true
        model: virtio
        size: 32768
      - boot: false
        model: virtio
        size: 1048576
    customer_metadata:
      root_authorized_keys: "{{ ssh_public_keys.nate_coraor }}"
