---

# This stuff wouldn't normally go in group_vars because it's normally host-specific, but in this case our new Jenkins
# agents will all be configured the same way on the same VM host

# FIXME: SmartOS auto-formats this ext4 and mounts it, so the task for this fails. Rather than enable the force option
# here and potentially overwrite data on this volume in some future run of this playbook I just ran
# `umount /data && mkfs.xfs -f /dev/vdb` by hand.
filesystems:
  - dev: /dev/vdb
    fstype: xfs

mounts:
  - name: /data
    src: /dev/vdb
    fstype: auto
    mode: "0755"

docker_daemon_option_list:
  - -H fd://
  - --containerd=/run/containerd/containerd.sock
  - --data-root=/data/docker

# End host-level stuff


jenkins_agents_group_authorized_key_users: "{{ vault_jenkins_agents_group_authorized_key_users }}"
jenkins_agents_group_private_key_users: "{{ vault_jenkins_agents_group_private_key_users }}"

# hopefully overrides config-repo in cvmfsclients.yml
galaxy_cvmfs_repos_enabled: true

jenkins_agents_group_apt_keys:
  - url: https://download.docker.com/linux/debian/gpg
    dest: /etc/apt/keyrings/docker.asc

jenkins_agents_group_apt_repositories:
  - repo: "deb [signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/debian {{ ansible_distribution_release }} stable"

jenkins_agents_group_systemd_overrides:
  - name: docker
    override:
      - "ExecStart="
      - "ExecStart=/usr/bin/dockerd {{ docker_daemon_option_list | join(' ') }}"

jenkins_agents_group_packages:
  - gpg
  - xfsprogs
  - docker-ce
  - docker-ce-cli
  - containerd.io
  - docker-buildx-plugin
  - docker-compose-plugin
  - git
  - openjdk-25-jre-headless
  - build-essential
  - curl
  - python3-venv
  - python3-dev
  # for usegalaxy-tools, idc
  - fuse-overlayfs
  - sudo
  - tree
  - rsync

jenkins_agents_group_users:
  - name: jenkins
    # Moved to a post-task for order of operations purposes
    #groups: docker
    system: true

jenkins_agents_group_directories:
  - path: ~jenkins/bin
    owner: jenkins
    group: jenkins
    mode: '0755'
  - path: /data/docker
    owner: root
    group: root
    mode: '0710'
  - path: /data/jenkins
    owner: jenkins
    group: jenkins
    mode: '0755'
  - path: /data/jenkins/tmp
    owner: jenkins
    group: jenkins
    mode: '0755'

jenkins_agents_group_files:
  - src: files/jenkins/jenkins_agent_user_ssh_config
    dest: ~jenkins/.ssh/config
    owner: jenkins
    group: jenkins
    mode: '0444'
  - src: files/jenkins/tmpfiles.d-clean-tmp.conf
    dest: /etc/tmpfiles.d/clean-tmp.conf
    owner: root
    group: root
    mode: '0444'
  - src: files/jenkins/mount-overlayfs.sudoers
    dest: /etc/sudoers.d/99_jenkins_overlayfs
    owner: root
    group: root
    mode: '0440'
  - src: files/jenkins/mount-overlayfs.sh
    dest: /usr/local/sbin/jenkins-mount-overlayfs
    owner: root
    group: root
    mode: '0755'

jenkins_agents_group_links:
  - path: /usr/local/sbin/jenkins-umount-overlayfs
    src: jenkins-mount-overlayfs

jenkins_agents_group_kernel_params:
  - name: net.ipv4.tcp_keepalive_time
    value: 300
  - name: net.ipv4.tcp_keepalive_intvl
    value: 30
  - name: net.ipv4.tcp_keepalive_probes
    value: 40

# TODO: i guess they changed it back from a service instance in trixie?
__postfix_service_names: [postfix]

postfix_role: "null-client"
