##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

{{ hpc_pulsar_log_dir }}/pulsar-*.log {
    size 50M
    rotate 10
    compress
    delaycompress
    missingok
    notifempty
}
