#jinja2: lstrip_blocks: True
//
// This file is managed by Ansible.  ALL CHANGES WILL BE OVERWRITTEN.
//

include "/etc/named.options.conf";
include "/etc/named.root.key";
include "/etc/named.views.conf";
