---

host_directories:
  - path: /srv/nginx
  # FIXME: these wouldn't work on a clean deployment due to ordering
  - path: /srv/nginx/toolshed.tools/root
    owner: marten
    group: marten
  - path: /srv/nginx/galaxy.tools/root
    owner: marten
    group: marten

ldap_server_uris:
  - ldap://localhost/ # prefer self
  - ldap://ldap2.galaxyproject.org/
  - ldap://ldap3.galaxyproject.org/

nginx_servers:
  - certbot_redirects

nginx_ssl_servers:
  - wiki
  - galaxydomains
  - gxy.io
  - toolshed.tools
  - galaxy.tools

certbot_domains:
  - newtrail.galaxyproject.org
  - wiki.g2.bx.psu.edu
  - wiki.galaxyproject.org
  - galaxy2.org
  - galaxyworkbench.org
  - repeatme.org
  - g2.bx.psu.edu
  - galaxy.psu.edu
  - galaxycast.org
  - getgalaxy.org
  - galaxy.training
  - new.galaxyproject.org
  - gxy.io
  - toolshed.tools
  - galaxy.tools

nginx_extra_configs:
  - wiki_hub_rewrites.conf

nginx_default_redirect_uri: https://galaxyproject.org/
