---

- name: Get EC2 Facts
  hosts: ec2hosts
  remote_user: root
  tasks:
    - name: Get EC2 Facts
      action: ec2_facts
  tags: always

- name: Tasks for virtualized hosts
  hosts: virtual
  remote_user: root
  roles:
    - virtual
  tags: initial,system

- name: Include baseenv plays
  include: _inc_baseenv.yml

- name: Set up authentication keys for non-baseenv hosts
  hosts: authkeyhosts
  remote_user: root
  roles:
    - users
  tags: users

# This is sort of ugly - we don't want to use the galaxyenv basenv for
# jetstream controllers because they are controlled in the jetstream envs. All
# this is used for currently is setting up the `swarm` system user.
- name: Initial setup for docker swarm managers
  hosts: dockerswarmmanagers
  remote_user: root
  roles:
    - role: users
      tags: users
  tags: initial

# This play is currently Debuntu-only
- name: Tasks for "full environment" hosts (Kerberos/LDAP/NFS/AFS)
  hosts: fullenv
  remote_user: root
  roles:
    - role: kerberos
      tags: kerberos
    # Run the ssh role again here because doing so with the liteenv group will
    # enable GSSAPIAuthentication
    - role: ssh
      tags: ssh
    - role: ldap
      tags: ldap
    - role: nfs
      tags: nfs
  tags: fullenv

# This play is currently Debuntu-only
- name: Tasks for "lite environment" hosts (Kerberos/LDAP/NFS, no AFS)
  hosts: liteenv
  remote_user: root
  roles:
    - role: kerberos
      tags: kerberos
    # Run the ssh role again here because doing so with the liteenv group will
    # enable GSSAPIAuthentication
    - role: ssh
      tags: ssh
    - role: ldap
      tags: ldap
    - role: nfs
      tags: nfs
  tags: liteenv

- name: Tasks for infrastructure servers
  hosts: kerberosservers
  remote_user: root
  roles:
    - name: required_vars
      required_vars_roles: kerberos_kdc
      tags: always
    - name: kerberos_kdc
      tags: kerberos_kdc,kerberos
  tags: infrastructure

- name: Tasks for webservers
  hosts: webservers
  remote_user: root
  roles:
    - role: geerlingguy.repo-epel
      when: ansible_os_family == "RedHat"
    - role: galaxyproject.nginx
  tags: nginx

- name: Install supervisor
  hosts: all
  remote_user: root
  roles:
    - role: supervisor
      when: supervisord_group_configs is defined or supervisord_host_configs is defined
      tags: supervisor,services

- name: Tasks for jenkins hosts
  hosts: jenkinsservers
  remote_user: root
  roles:
    - role: linuxbrew        # Install linuxbrew
      tags: linuxbrew
  tags: initial

- name: Tasks for biostar hosts
  hosts: biostarservers
  roles:
    - role: users
      tags: system,users
  tags: initial

# This is here because it's currently due to a SmartOS issue:
# https://github.com/joyent/smartos-live/issues/469
# If that issue is fixed, it should be possible to remove this and undo
# explicitly setting the sys_fs_import priv
- name: Assign the sys_fs_import privilege to backup users
  hosts: zfsbackupservers
  remote_user: root
  vars:
    backupusers:
      - zfsdump-orval
  tasks:
    - name: "Set sys_fs_import for backup users"
      lineinfile:
        dest: /etc/user_attr
        backup: "yes"
        line: "{{ item }}::::type=normal;defaultpriv=basic,sys_fs_import"
        regexp: "^{{ item }}:.*"
      with_items: backupusers

- name: Tasks for stats servers
  hosts: statsservers
  remote_user: root
  roles:
    # TODO: install on other stuff
    - role: dj-wasabi.telegraf
    - role: stats
  # FIXME: currently you run this once on startup using 2.5, then rerun again w/ stats_influxdb_auth_enabled set to fix
  # the config
  #post_tasks:
  #  # TODO: put this somewhere else
  #  - name: Install influxdb python module
  #    pip:
  #      name: influxdb
  #  - name: Create InfluxDB users
  #    influxdb_user:
  #      admin: "{{ item.admin | default(omit) }}"
  #      user_name: "{{ item.user_name | default(omit) }}"
  #      user_password: "{{ item.user_password | default(omit) }}"
  #    with_items: "{{ stats_influxdb_users | default([]) }}"
  #    when: stats_influxdb_users is defined
  tags:
    - stats

- name: Tasks for CVMFS Servers
  hosts: cvmfsstratum0servers:cvmfsstratum1servers:cvmfslocalproxies
  roles:
    # mounts /srv
    - role: paths
      tags: cvmfs
    # need epel for the jq package
    - role: geerlingguy.repo-epel
      tags: cvmfs
    - role: cvmfs
      tags: cvmfs

- name: Tasks for Docker Swarm managers
  hosts: dockerswarmmanagers
  roles:
    - role: docker_swarm
      tags: docker
