---

- name: Create slurm scale directory
  file:
    path: "{{ slurm_scale_root }}"
    state: directory
    owner: "{{ slurm_scale_user }}"

- name: Install dependencies
  yum:
    name:
      - python-virtualenv
      - openssl-devel

- name: Create slurm scale virtualenv
  pip:
    name:
      - pip
      - setuptools
    virtualenv: "{{ slurm_scale_root }}"
    state: latest
  become: yes
  become_user: "{{ slurm_scale_user }}"

# using `latest` with these can be disastrous e.g. if a new major release of Ansible is uploaded or a C extension
# dependency (e.g. cffi) is updated without wheels.
- name: Install slurm scale dependencies
  pip:
    name:
      - ansible>2.7.5
      - shade
      - python-openstackclient
      - openstacksdk
    virtualenv: "{{ slurm_scale_root }}"
  become: yes
  become_user: "{{ slurm_scale_user }}"

- name: Create slurm scale ansible directories
  file:
    path: "{{ slurm_scale_root }}/{{ item }}"
    state: directory
    owner: "{{ slurm_scale_user }}"
  loop:
    - "{{ slurm_scale_root }}/sbin"
    - "{{ slurm_scale_root }}/etc"
    - "/var/log/slurm/elastic"

# FIXME: this is always changed
- name: Copy ansible files
  synchronize:
    archive: no
    recursive: yes
    links: no
    times: yes
    perms: yes
    copy_links: yes
    src: files/
    dest: "{{ slurm_scale_root }}/etc/ansible"
    rsync_path: "sudo -u {{ slurm_scale_user }} rsync"

# Have to do this post-rsync
- name: Create ansible directories for templates and symlinks
  file:
    path: "{{ slurm_scale_root }}/etc/ansible/{{ item.path | dirname }}"
    state: directory
    owner: "{{ slurm_scale_user }}"
  loop:
    - path: group_vars/all/cloud.yml
    - path: files/slurm/munge.key
    #- path: templates/slurm/slurm.conf.j2
    #- path: templates/slurm.conf.j2

- name: Template ansible files
  template:
    src: "{{ item.path }}.j2"
    dest: "{{ slurm_scale_root }}/etc/ansible/{{ item.path }}"
    owner: "{{ slurm_scale_user }}"
  loop:
    - path: group_vars/all/cloud.yml
    - path: group_vars/all/slurm.yml

#- name: Create symlinks
#  file:
#    path: "{{ slurm_scale_root }}/etc/ansible/{{ item.path }}"
#    src: "{{ item.src }}"
#    state: link
#  loop:
#    - path: templates/slurm/slurm.conf.j2
#      src: /etc/slurm/slurm.conf

- name: Install slurm suspend/resume script
  template:
    src: suspend_resume.sh.j2
    dest: "{{ slurm_scale_root }}/sbin/slurm_suspend"
    owner: "{{ slurm_scale_user }}"
    mode: 0755

- name: Link slurm suspend/resume script
  file:
    dest: "{{ slurm_scale_root }}/sbin/slurm_resume"
    src: "{{ slurm_scale_root }}/sbin/slurm_suspend"
    state: hard
    force: yes    # supposed to be fixed in 2.4 but it's not?

- name: Install private data
  copy:
    content: "{{ item.content }}"
    dest: "{{ slurm_scale_root }}/etc/ansible/{{ item.dest }}"
    owner: "{{ slurm_scale_user }}"
    mode: "0400"
  no_log: yes
  loop:
    - content: "{{ slurm_ssh_key }}"
      dest: "slurm-kp.pem"
    - content: "{{ clouds_yaml | to_nice_yaml }}"
      dest: "clouds.yaml"

# this decrypts the key
- name: Install munge key
  copy:
    src: "{{ slurm_munge_key }}"
    dest: "{{ slurm_scale_root }}/etc/ansible/files/slurm/munge.key"
    owner: "{{ slurm_scale_user }}"
    mode: "0400"

# FIXME: this is always changed
# TODO: versions from requirements.yml
- name: Install Ansible modules from Galaxy
  command: "{{ slurm_scale_root }}/bin/ansible-galaxy -p {{ slurm_scale_root }}/etc/ansible/roles install {{ item }}"
  #args:
  #  creates: "{{ slurm_scale_root }}/etc/ansible/roles/{{ item }}"
  become: yes
  become_user: "{{ slurm_scale_user }}"
  loop:
    - geerlingguy.repo-epel,1.2.3
    - galaxyproject.cvmfs,0.1.2
    - galaxyproject.slurm,0.1.1
