---

cloud_id: {{ cloud_id }}
controller_name: {{ controller_name }}
controller_ip: {{ controller_ip }}
slurm_cluster_name: {{ slurm_cluster_name }}
slurm_controller_name: {{ slurm_controller_name }}
# TODO: you might want to make this the name since it'll be impervious to IP changes
slurm_controller_ip: {{ slurm_controller_ip }}

slurm_user: {{ slurm_user }}
