---

tor_exit_addresses_file_path: /srv/nginx/galaxyproject.org/_tor-exit-addresses/list.txt

host_directories:
  - path: /srv/nginx
  - path: /srv/nginx/galaxyproject.org/alias
  - path: "{{ tor_exit_addresses_file_path | dirname }}"
    owner: www-data
    group: www-data

host_crontabs:
  - id: fetch_tor_exit_node_addresses
    name: Fetch Tor exit node addresses
    user: www-data
    hour: "*/6"
    minute: 15
    job: /usr/bin/curl --silent -o {{ tor_exit_addresses_file_path }} https://check.torproject.org/exit-addresses

nginx_conf_http:
  server_names_hash_bucket_size: 128
  # why are these so high?
  #client_max_body_size: 1g
  #proxy_read_timeout: 3600
  client_max_body_size: 128m
  proxy_read_timeout: 300
  proxy_cache_path: /var/lib/nginx/cache levels=1:2 keys_zone=s3_cache:10m max_size=128m inactive=60m use_temp_path=off
  limit_req_zone: $binary_remote_addr zone=default:10m rate=30r/s
  limit_req_status: 429

nginx_flavor: light

nginx_servers:
  - certbot_redirects

nginx_ssl_servers:
  - galaxyproject
  - biostar

certbot_domains:
  - artifact.galaxyproject.org
  - galaxyproject.org
  - www.galaxyproject.org
  - biostar.usegalaxy.org
  - biostar.galaxyproject.org

nginx_default_redirect_uri: https://galaxyproject.org/
