##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

server {
    listen      *:443 ssl;
    server_name test.g2.bx.psu.edu;

    return 301 https://test.galaxyproject.org$request_uri;
}

server {
    listen      *:443 ssl;
    server_name main.g2.bx.psu.edu;

    return 301 https://usegalaxy.org$request_uri;
}

server {
    listen       *:443 ssl;
    server_name  galaxy2.org galaxyworkbench.org repeatme.org g2.bx.psu.edu;

    return 302 https://galaxyproject.org;
}

server {
    listen       *:443 ssl;
    server_name  galaxy.psu.edu;

    rewrite (?i)^/dev2010/?$ https://galaxyproject.org/dev2010/;
    rewrite (?i)^/gcc2011/?$ https://galaxyproject.org/gcc2011/;
    return 302 https://galaxyproject.org;
}

server {
    listen       *:443 ssl;
    server_name  galaxycast.org;

    return 302 https://galaxyproject.org/learn/screencasts/;
}

server {
    listen       *:443 ssl;
    server_name  getgalaxy.org;

    return 302 https://galaxyproject.org/admin/get-galaxy;
}

server {
    listen       *:443 ssl;
    server_name  galaxy.training;

    return 302 https://training.galaxyproject.org;
}

server {
    listen      *:443 ssl;
    server_name new.galaxyproject.org;

    return 301 https://galaxyproject.org$request_uri;
}

# vim: set filetype=nginx
