##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

upstream grafana_app {
    server 127.0.0.1:3000;
}

upstream influxdb_app {
    server 127.0.0.1:8086;
}

server {
    listen *:443 ssl;
    server_name stats.galaxyproject.org;

    # the default facility (local7) is the boot log on EL
    access_log  syslog:server=unix:/dev/log,facility=local6;
    error_log   syslog:server=unix:/dev/log,facility=local6;

    location / {
        proxy_pass   http://grafana_app;
        proxy_set_header   Host             $http_host;
        proxy_set_header   X-Forwarded-Host $host;
        proxy_set_header   X-Forwarded-For  $remote_addr;
    }

}

server {
    listen *:443 ssl;
    server_name influx.galaxyproject.org;

    access_log  syslog:server=unix:/dev/log,facility=local6;
    error_log   syslog:server=unix:/dev/log,facility=local6;

    location / {
        proxy_pass   http://influxdb_app;
        proxy_set_header   X-Forwarded-Host $host;
        proxy_set_header   X-Forwarded-For  $remote_addr;
    }

}

server {
    listen {{ ansible_default_ipv4.address }}:8086 ssl;
    server_name stats.galaxyproject.org;

    #access_log  syslog:server=unix:/dev/log,facility=local6;
    #error_log   syslog:server=unix:/dev/log,facility=local6;
    access_log  /var/log/nginx/stats.galaxyproject.org-8086_access.log;
    error_log   /var/log/nginx/stats.galaxyproject.org-8086_error.log;

    location / {
        proxy_pass   http://influxdb_app;
        proxy_set_header   X-Forwarded-Host $host;
        proxy_set_header   X-Forwarded-For  $remote_addr;
    }

}

# vim: set filetype=nginx
