##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

limit_req_zone $binary_remote_addr zone=default:10m rate=2r/s;

# Galaxy Tool Shed
server {
    listen       *:443 ssl;
    server_name {% for domain in certbot_domains %} {{ domain }}{% endfor %};

    # Enable HSTS (age is 180 days)
    #add_header Strict-Transport-Security "max-age=15552000; includeSubdomains";

    access_log  /var/log/nginx/{{ tool_shed_instance_hostname }}.access.log;
    error_log   /var/log/nginx/{{ tool_shed_instance_hostname }}.error.log;

    limit_req zone=default burst=40 nodelay;
    limit_req_status 429;

    location = /_check_auth {
        internal;

        if ($auth_cmd) {
            return 200;
        }

        proxy_pass              http://{{ tool_shed_gunicorn_bind }}/api/users/current;
        proxy_pass_request_body off;
        proxy_set_header        Content-Length   "";
        proxy_set_header        Host             $host;
        proxy_set_header        X-Real-IP        $remote_addr;
        proxy_set_header        X-Forwarded-For  $remote_addr;
        # Forward the original URI and cookies so the Tool Shed can validate the session
        proxy_set_header        X-Original-URI   $request_uri;
        proxy_set_header        Cookie           $http_cookie;
    }

    location @repos_login_redirect {
        return 302 /login;
    }

    location / {
        proxy_pass         http://{{ tool_shed_gunicorn_bind }};
        proxy_redirect     off;
        proxy_set_header   Host              $host;
        proxy_set_header   X-Real-IP         $remote_addr;
        proxy_set_header   X-Forwarded-For   $remote_addr;
        proxy_set_header   X-Forwarded-Proto $scheme;
    }
{% if tool_shed_hgweb_gunicorn_bind is defined %}

    location {{ tool_shed_hgweb_prefix.rstrip("/") }}/ {

{% for cidr in nginx_access_deny | default([]) %}
        deny {{ cidr }};
{% endfor %}

        set                $auth_cmd $arg_cmd;
        auth_request       /_check_auth;
        error_page         403 = @repos_login_redirect;

        proxy_pass         http://{{ tool_shed_hgweb_gunicorn_bind }};
        proxy_redirect     off;
        proxy_set_header   Host              $host;
        proxy_set_header   X-Real-IP         $remote_addr;
        proxy_set_header   X-Forwarded-For   $remote_addr;
        proxy_set_header   X-Forwarded-Proto $scheme;
        proxy_set_header   SCRIPT_NAME       {{ tool_shed_hgweb_prefix }};
    }

    location ~ ^{{ tool_shed_hgweb_prefix.rstrip("/") }}/.*/annotate/ {
        return 403;
    }
{% endif %}

{% if tool_shed_api_version == "v2" %}
    location /assets {
        alias {{ tool_shed_server_dir }}/lib/tool_shed/webapp/frontend/dist/assets;
        expires 24h;
    }

    location /static {
        alias {{ tool_shed_server_dir }}/lib/tool_shed/webapp/frontend/static;
        expires 24h;
    }
{% else %}
    location /static {
        alias {{ tool_shed_server_dir }}/static;
        expires 24h;
    }
{% endif %}

    location /robots.txt {
        allow all;
        alias {{ tool_shed_root }}/static/robots.txt;
    }

    location /favicon.ico {
        alias {{ tool_shed_server_dir }}/lib/tool_shed/webapp/frontend/static/favicon.ico;
    }

    # error docs
    error_page  404         /error/404.html;
    error_page  413         /error/413.html;
    error_page  502 503 504 /error/502.html;
    location /error {
        alias {{ error_pages_root }};
    }
}
