##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

# Redirect www -> root
server {
    listen       *:443 ssl;
    server_name  www.usegalaxy.org;

    return 301 https://usegalaxy.org$request_uri;
}

# Define web upstream
upstream galaxy_web {
    server galaxy-web-05.tacc.utexas.edu:8000;
    server galaxy-web-06.tacc.utexas.edu:8000 backup;
    #server 129.114.60.89:8000;          # galaxy-main1
    #server 129.114.60.79:8000 backup;   # galaxy-main2
}

# Define staging upstreams
upstream galaxy_staging {
    server galaxy-web-03.tacc.utexas.edu:8000;
    server galaxy-web-04.tacc.utexas.edu:8000 backup;
    #server 129.114.60.79:8000;          # galaxy-main2
    #server 129.114.60.89:8000 backup;   # galaxy-main1
}

# Main server
server {
    listen       *:443 ssl http2 default_server;
    server_name  usegalaxy.org *.usegalaxy.org;

    access_log  /var/log/nginx/main.access.log;
    error_log   /var/log/nginx/main.error.log;

    # upstreams set this to a reasonable value
    client_max_body_size 0;

    location / {
        proxy_pass         http://galaxy_web;
        proxy_redirect     off;
        proxy_set_header   Host              $host;
        proxy_set_header   X-Real-IP         $remote_addr;
        proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;

        add_header X-Clacks-Overhead 'GNU James Taylor (@jxtx) Simon Gladman (@slugger70)';
    }

    location ~ ^/api/jobs/[^/]+/files {
        try_files false @galaxy_staging;
    }

    location /_job_files {
        try_files false @galaxy_staging;
    }

    # since this is internal it should be unnecessary
    #location /_upload_job_files_done {
    #}

    location @galaxy_staging {
        proxy_pass         http://galaxy_staging;
        proxy_redirect     off;
        proxy_set_header   Host              $host;
        proxy_set_header   X-Real-IP         $remote_addr;
        proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;
    }

    # Route all path-based interactive tool requests to the InteractiveTool proxy application
    location ~* ^/(interactivetool/.+)$ {
        proxy_redirect      off;
        proxy_http_version  1.1;
        proxy_set_header    Host        $host;
        proxy_set_header    X-Real-IP   $remote_addr;
        proxy_set_header    Upgrade     $http_upgrade;
        proxy_set_header    Connection  "upgrade";
        proxy_pass          http://127.0.0.1:{{ gxit_proxy_port }};
    }
}

# Domain-based Galaxy Interactive Tools (GxITs)
server {
    listen       *:443 ssl http2;
    server_name  *.interactivetool.usegalaxy.org;

    # Enable HSTS (age is 180 days)
    add_header Strict-Transport-Security "max-age=15552000; includeSubdomains";

    access_log  /var/log/nginx/main-gxit-proxy.access.log;
    error_log   /var/log/nginx/main-gxit-proxy.error.log;

    location / {
        proxy_redirect      off;
        proxy_http_version  1.1;
        proxy_set_header    Host        $host;
        proxy_set_header    X-Real-IP   $remote_addr;
        proxy_set_header    Upgrade     $http_upgrade;
        proxy_set_header    Connection  "upgrade";
        proxy_pass          http://127.0.0.1:{{ gxit_proxy_port }};
    }

    # error docs
    #error_page  502 503 504 /error/502/index.shtml;
    #error_page  413         /error/413/index.html;
    #location /error {
    #    ssi on;
    #    root /srv/nginx/galaxy;
    #}

}

# vim: set filetype=nginx
