##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

server {
    listen      *:443 ssl;
    server_name wiki.g2.bx.psu.edu wiki.galaxyproject.org;

    access_log  /var/log/nginx/wiki.galaxyproject.org_access.log;
    error_log   /var/log/nginx/wiki.galaxyproject.org_error.log;

    client_max_body_size 8M;

    include {{ nginx_conf_dir }}/wiki_hub_rewrites.conf;
}

# vim: set filetype=nginx
