#!/bin/bash

. {{ slurm_scale_root }}/bin/activate

log_loc=/var/log/slurm/elastic.log
#log_loc=/dev/stdout 

cd {{ slurm_scale_root }}/etc/ansible

echo "Node suspend invoked: $0 $*" >> $log_loc

stop_list=""
for host in $(scontrol show hostname $1)
do
    stop_list+="$host,"
done

ansible-playbook -l ${stop_list::-1} stop.yml >> $log_loc
