#!/bin/bash

# TODO: configurable
log_loc=/var/log/slurm/elastic.log
log_dir=/var/log/slurm/elastic
log_time=$(date +%Y%m%dT%H%M%S)
ssh_user='{{ slurm_scale_ssh_user }}'

{

. {{ slurm_scale_root | quote }}/bin/activate

cd {{ slurm_scale_playbook_path | quote }}

echo "Start: $(date)"

names=$(scontrol show hostname "$1" | xargs echo | tr ' ' ',')

# suspend/resume operation comes from the name this program is called as (e.g. slurm_suspend, slurm_resume)
case $0 in
    *suspend)
        op='suspend'
        inventory='inventory/openstack.yaml'
        ;;
    *resume)
        # this isn't ideal but the names have to exist somehow and it can't be done with -i
        op='resume'
        inventory="${names},"
        ;;
    *)
        echo "error: unknown program name: $0"
        exit 1
        ;;
esac

playbook="playbook-${op}.yaml"

echo "Node $op invoked: $0 $*"

echo "Start: $(date)" >> "${log_dir}/${log_time}-${op}.log"
start=$(date +%s)
set -x
{ ansible-playbook -l "$names" -i "$inventory" -u "$ssh_user" "${playbook}"; } >> "${log_dir}/${log_time}-${op}.log" 2>&1
{ set +x; } 2>/dev/null
echo "End: $(date)" >> "${log_dir}/${log_time}-${op}.log"
echo "Elapsed: $(($(date +%s) - $start))" >> "${log_dir}/${log_time}-${op}.log"

echo "End: $(date)"

} >> $log_loc 2>&1
