---

# staging servers are backup web servers
nginx_ssl_servers:
  - usegalaxy_staging
  - usegalaxy

nginx_extra_configs:
  - usegalaxy_proxy.conf
  - usegalaxy_staging_proxy.conf
  - conf.d/rate_limit.conf

galaxy_memory_limit: 14
galaxy_memory_high: 12

galaxy_main_staging_servers_group_gravity_config:
  gunicorn:
    - bind: 0.0.0.0:8080
      workers: 3
      timeout: 600
      restart_timeout: 600
      preload: true
      extra_args: --forwarded-allow-ips={{ lookup('dig', groups['galaxy_main_load_balancers'][0]) }} --max-requests 100000 --max-requests-jitter 20000 --worker-tmp-dir /dev/shm
      environment:
        # TODO: this can be removed once the base OS version of pango is >= 1.44.0
        #LD_LIBRARY_PATH: "/cvmfs/{{ galaxy_cvmfs_repo }}/deps/_conda/envs/_galaxy_weasyprint_deps_/lib"
        HDF5_USE_FILE_LOCKING: "FALSE"
        GALAXY_CONFIG_SERVER_NAME: "{{ inventory_hostname_short | regex_replace('^galaxy-', '') }}-0"
    - bind: 0.0.0.0:8081
      workers: 3
      timeout: 600
      restart_timeout: 600
      preload: true
      extra_args: --forwarded-allow-ips={{ lookup('dig', groups['galaxy_main_load_balancers'][0]) }} --max-requests 100000 --max-requests-jitter 20000 --worker-tmp-dir /dev/shm
      environment:
        #LD_LIBRARY_PATH: "/cvmfs/{{ galaxy_cvmfs_repo }}/deps/_conda/envs/_galaxy_weasyprint_deps_/lib"
        HDF5_USE_FILE_LOCKING: "FALSE"
        GALAXY_CONFIG_SERVER_NAME: "{{ inventory_hostname_short | regex_replace('^galaxy-', '') }}-1"
  tusd:
    enable: true
    tusd_path: /usr/local/sbin/tusd
    host: 0.0.0.0
    #extra_args: -behind-proxy
    upload_dir: "{{ galaxy_tus_upload_store }}"
    memory_limit: 2

galaxy_main_staging_servers_group_telegraf_plugins_extra:
  gunicorn_memory_high:
    plugin: "exec"
    config:
      - commands = ["/usr/local/bin/galaxy-telegraf gunicorn_memory_high"]
      - timeout = "10s"
      - data_format = "influx"
      - interval = "1m"
