---

# Prefer the TACC stratum 1
galaxy_cvmfs_server_urls:
  - domain: galaxyproject.org
    use_geoapi: true
    urls:
      - "http://cvmfs1-{{ cloud_id[10:] }}0.jetstreamlocal/cvmfs/@fqrn@"
      - "http://cvmfs1-tacc0.galaxyproject.org/cvmfs/@fqrn@"
      - "http://cvmfs1-iu0.galaxyproject.org/cvmfs/@fqrn@"
      - "http://cvmfs1-psu0.galaxyproject.org/cvmfs/@fqrn@"

cvmfs_http_proxies:
  - "http://jetstream-{{ cloud_id[10:] }}0.jetstreamlocal:3128"
  - "DIRECT"
