---

# TODO: move to controllers.yml once TACC is in use again
telegraf_agent_hostname: "{{ inventory_hostname }}"
slurmservers_group_templates:
  - src: templates/telegraf/slurm_slurp.sh.j2
    dest: /usr/local/bin/slurm_slurp.sh
    owner: root
    group: root
    mode: '0755'

slurm_slurp_cluster_name: "{{ slurm_cluster_name }}"
slurm_slurp_partitions:
  - small
  - normal

telegraf_plugins_extra:
  slurm_slurp:
    plugin: "exec"
    config:
      - commands = ["/usr/local/bin/slurm_slurp.sh"]
      - timeout = "120s"
      - data_format = "influx"
      - interval = "1m"
