Host 10.*
    UserKnownHostsFile /dev/null
    StrictHostKeyChecking no
    ProxyCommand ssh -W %h:%p -F {{ inventory_dir }}/ssh_config.{{ cloud_id }} {{ cloud_id | replace('_', '-') }}0.galaxyproject.org

# FIXME: User docker
Host {{ cloud_id | replace('_', '-') }}0.galaxyproject.org
    User swarm
    IdentityFile {{ ansible_ssh_private_key_file }}
    ControlMaster auto
    ControlPath ~/.ssh/ansible-%r@%h:%p
    ControlPersist 5m
