##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

server {
    listen      *:80;
    server_name datacache.galaxyproject.org;

    access_log  /var/log/nginx/datacache.galaxyproject.org_access.log;
    error_log   /var/log/nginx/datacache.galaxyproject.org_error.log;

    root        /srv/nginx/datacache.galaxyproject.org/root;

    location /managed {
        alias /cvmfs/data.galaxyproject.org/managed;
        autoindex on;
    }

    location /indexes {
        alias /cvmfs/data.galaxyproject.org/byhand;
        autoindex on;
    }

    location /refgenomes-databio {
        alias /cvmfs/refgenomes-databio.galaxyproject.org;
        autoindex on;
    }

    location /singularity {
        alias /cvmfs/singularity.galaxyproject.org;
        autoindex on;
    }

    location /idc {
        alias /cvmfs/idc.galaxyproject.org;
        autoindex on;
    }
}

# vim: set filetype=nginx
