##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

server {
    listen       *:443 ssl;
    server_name  galaxy2.org galaxyworkbench.org repeatme.org;

    return 302 https://galaxyproject.org;
}

server {
    listen       *:443 ssl;
    server_name  galaxy.psu.edu;

    rewrite (?i)^/dev2010/?$ https://galaxyproject.org/dev2010/;
    rewrite (?i)^/gcc2011/?$ https://galaxyproject.org/gcc2011/;
    return 302 https://galaxyproject.org;
}

server {
    listen       *:443 ssl;
    server_name  galaxycast.org;

    return 302 https://galaxyproject.org/learn/screencasts/;
}

server {
    listen       *:443 ssl;
    server_name  getgalaxy.org;

    return 302 https://galaxyproject.org/admin/get-galaxy;
}
