##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

server {
    listen      *:80;
    server_name gxy.io;

    access_log  /var/log/nginx/gxy.io_access.log;
    error_log   /var/log/nginx/gxy.io_error.log;

    rewrite ^/toolshed/?$ https://toolshed.g2.bx.psu.edu/;
    rewrite ^/nate/ccbb2018/?$ https://docs.google.com/presentation/d/18VO-J2Ie-wNSApBN_4JlOaCilWQP6qNOtni9NLENZOE/;
    rewrite ^/nate/gccbosc2018infra/?$ https://docs.google.com/presentation/d/1_y3m4p_KwoG3gRIV--buQ_xXw0ZlyKtKVFfxMpkIjBU/;
    rewrite ^/gcc2019k8s/?$ https://docs.google.com/presentation/d/1jBQwVpiFZmOI8VyUlsTqeAwbCQ_LR4aKttx8wTEk5lQ/;
    rewrite ^/gcc2019k8svms/?$ https://docs.google.com/spreadsheets/d/1k55ePJtye8x-pI9FAqDTwbAtEUmt6Q7K4S8eRhAVt2U/;

    return 302 https://galaxyproject.org;

}

# vim: set filetype=nginx
