##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

server {
    listen      *:80;
    server_name gxy.io;

    access_log  /var/log/nginx/gxy.io_access.log;
    error_log   /var/log/nginx/gxy.io_error.log;

    rewrite ^/toolshed/?$ https://toolshed.g2.bx.psu.edu/;
    rewrite ^/nate/ccbb2018/?$ https://docs.google.com/presentation/d/18VO-J2Ie-wNSApBN_4JlOaCilWQP6qNOtni9NLENZOE/;
    rewrite ^/nate/gccbosc2018infra/?$ https://docs.google.com/presentation/d/1_y3m4p_KwoG3gRIV--buQ_xXw0ZlyKtKVFfxMpkIjBU/;
    rewrite ^/gcc19k8s/?$ https://gist.github.com/natefoo/16a68683b45a7bc4f0020cbf5240f5dc;
    rewrite ^/gcc19arch/?$ https://docs.google.com/document/d/1u-HKEN_yoODEEGBeVBuxEvIxcrJGhtS98TQzhx84bHw/edit;

    return 302 https://galaxyproject.org;

}

# vim: set filetype=nginx
