##
## This file is deployed by Ansible - CHANGES WILL BE OVERWRITTEN
##
## Maps URLs for moved training materials
##

#http {
#    server {
        rewrite ^/training-material/topics/chip-seq/(.*)$ https://training.galaxyproject.org/training-material/topics/epigenetics/$1;
        rewrite ^/training-material/topics/sequence-analysis/tutorials/de-novo-rad-seq/(.*)$ https://training.galaxyproject.org/training-material/topics/ecology/tutorials/de-novo-rad-seq/$1;
        rewrite ^/training-material/topics/sequence-analysis/tutorials/genetic-map-rad-seq/(.*)$ https://training.galaxyproject.org/training-material/topics/ecology/tutorials/genetic-map-rad-seq/$1;
        rewrite ^/training-material/topics/sequence-analysis/tutorials/ref-based-rad-seq/(.*)$ https://training.galaxyproject.org/training-material/topics/ecology/tutorials/ref-based-rad-seq/$1;
#    }
#}
