##
## This file is deployed by Ansible - CHANGES WILL BE OVERWRITTEN
##
## Maps URLs for moved training materials
##

#http {
#    server {
        rewrite ^/training-material/topics/chip-seq/(.*)$ https://training.galaxyproject.org/training-material/topics/epigenetics/$1;
#    }
#}
