---

- name: Instance spawn block
  block:

    - name: Collect image facts
      os_image_info:
      run_once: true
      delegate_to: localhost
      register: __os_image_info

    - name: Find current JS-API-Featured-CentOS7 image
      set_fact:
        os_image: "{{ ( __os_image_info.openstack_image | selectattr('name', 'match', '(?i)^JS-API-Featured-CentOS7-[A-Z]{3}-\\d{1,2}-\\d{4}$') | list | last ).id }}"
      run_once: true

    - name: Create network
      os_network:
        cloud: "{{ os_cloud_id }}"
        name: "{{ os_network.name }}"
      delegate_to: localhost
      run_once: true

    - name: Create subnet
      os_subnet:
        network_name: "{{ os_network.name }}"
        name: "{{ os_network.subnet.name }}"
        cidr: "{{ os_network.subnet.cidr }}"
      delegate_to: localhost
      run_once: true

    - name: Create router
      os_router:
        name: "{{ os_network.router.name }}"
        network: "{{ os_network.router.network }}"
        interfaces:
          - "{{ os_network.subnet.name }}"
      delegate_to: localhost
      run_once: true

    - name: Create security groups
      os_security_group:
        cloud: "{{ os_cloud_id }}"
        name: "{{ item.name }}"
      loop: "{{ os_security_group_rules }}"
      delegate_to: localhost
      run_once: true

    - name: Create security group rules
      os_security_group_rule:
        cloud: "{{ os_cloud_id }}"
        security_group: "{{ item.0.name }}"
        protocol: "{{ item.1.protocol | default(omit) }}"
        remote_ip_prefix: "{{ item.1.remote_ip_prefix | default(omit) }}"
        port_range_min: "{{ item.1.port_range_min | default(omit) }}"
        port_range_max: "{{ item.1.port_range_max | default(omit) }}"
      loop: "{{ os_security_group_rules | subelements('rules') }}"
      delegate_to: localhost
      run_once: true

    - name: Create data volume
      os_volume:
        cloud: "{{ os_cloud_id }}"
        display_name: "{{ item.name }}"
        size: "{{ item.size }}"
      delegate_to: localhost
      loop: "{{ os_volumes | default([]) }}"

    - name: Spawn new instance
      os_server:
        cloud: "{{ os_cloud_id }}"
        name: "{{ os_name | default(inventory_hostname) }}"
        image: "{{ os_image }}"
        flavor: "{{ os_flavor }}"
        key_name: "{{ os_key_name }}"
        nics: "{{ os_nics }}"
        security_groups: "{{ os_security_groups }}"
        auto_ip: "{{ os_auto_ip | default(omit) }}"
        floating_ips: "{{ os_floating_ips | default(omit) }}"
        meta: "group={{ group_names[0] }}"
        #volumes: "{{ os_volumes | default(omit) }}"
        #volumes: "{{ os_volumes }}"
        userdata: |
          #cloud-config
          package_upgrade: false
      delegate_to: localhost
      register: __spawn_result

    # As far as I can tell, the first time this runs (when the attachment is done) is the only way to discover the volume device
    - name: Attach volumes to instances
      os_server_volume:
        cloud: "{{ os_cloud_id }}"
        server: "{{ os_name | default(inventory_hostname) }}"
        volume: "{{ item.name }}"
      delegate_to: localhost
      loop: "{{ os_volumes | default([]) }}"
      register: __attach_result

    - name: Set volume device(s) fact
      set_fact:
        __os_volume_devices: "{{ __attach_result.results | selectattr('attachments', 'defined') | map(attribute='attachments') | flatten | map(attribute='device') | list }}"

    # Turns out you can't have overlapping host_vars files and dirs, so for this to work, the host_vars that are
    # being used to create this instance will need to already be in a dir (so this step is redundant)
    #- name: Create host_vars dir
    #  file:
    #    path: "{{ inventory_dir }}/host_vars/{{ inventory_hostname }}"
    #    state: directory
    #  when: __os_volume_devices | length > 0
    #  delegate_to: localhost

    # I tried:
    #   fstype: {{ '"{{' }} mounts[{{ loop.index0 }}].fstype {{ '}}' }}
    # but this results in: recursive loop detected in template string: {{ filesystems[0].dev }}
    # even though the actual attributes themselves aren't circular
    - name: Write volume device(s) to host_vars
      copy:
        content: |
          ---
          ## This file is automatically generated by the openstack role
          filesystems:
          {% for volume_def, device in os_volumes | zip(__os_volume_devices) %}
            - dev: {{ device }}
              fstype: {{ os_volumes[loop.index0].fstype }}
          {% endfor %}
        dest: "{{ inventory_dir }}/host_vars/{{ inventory_hostname }}/os_volume_devices.yml"
      when: __os_volume_devices | length > 0
      delegate_to: localhost

    - name: Update inventory with spawned instance IP
      set_fact:
        ansible_host: "{{ __spawn_result.server.public_v4 or __spawn_result.server.private_v4 }}"
      #delegate_to: localhost

    - name: Log IP addresses
      debug:
        var: ansible_host

    - name: Wait for instance to become accessible
      wait_for_connection:
        timeout: 120

  always:

    - import_tasks: clean.yml

  rescue:

    - fail:
        msg: Exiting due to previous failure
