---

jenkins_servers_group_authorized_key_users: "{{ vault_jenkins_servers_group_authorized_key_users }}"
jenkins_servers_group_private_key_users: "{{ vault_jenkins_servers_group_private_key_users }}"

jenkins_servers_group_apt_keys:
  - url: https://pkg.jenkins.io/debian/jenkins.io-2023.key
    dest: /etc/apt/keyrings/jenkins-keyring.asc

jenkins_servers_group_apt_repositories:
  - repo: "deb [signed-by=/etc/apt/keyrings/jenkins-keyring.asc] https://pkg.jenkins.io/debian binary/"

jenkins_servers_group_packages:
  - gpg
  - git
  - rsync
  - jenkins
  ## for jenkins
  - openjdk-25-jre-headless

jenkins_servers_group_systemd_overrides:
  - name: jenkins
    override:
      Environment: '"JENKINS_HOME={{ jenkins_home }}"'
      WorkingDirectory: "{{ jenkins_home }}"

postfix_role: "null-client"

# TODO: i guess they changed it back from a service instance in trixie?
__postfix_service_names: [postfix]

jenkins_home: /data/jenkins

# TODO: we should probably start backing up the jenkins config again
#jenkins_servers_group_crontabs:
#  - id: jenkins_backup
#    name: Jenkins Backup
#    user: jenkins
#    hour: 22
#    minute: 0
#    job: rsync -av --delete --exclude='jobs/*/workspace*' --exclude='.cache' /var/lib/jenkins/ zfsdump-leeroy@westvleteren.galaxyproject.org:/zones/westvleteren/backup/leeroy/jenkins && ssh -T zfsdump-leeroy@westvleteren.galaxyproject.org -- /usr/sbin/zfs snapshot zones/westvleteren/backup/leeroy/jenkins@`date -u +\%Y\%m\%dT\%H\%M\%SZ`

# TODO: generate this file automatically from structured data
# Maybe this? https://github.com/gaqzi/ansible-ssh-config
jenkins_servers_group_files:
  - src: files/jenkins/jenkins_server_user_ssh_config
    dest: ~jenkins/.ssh/config
    owner: jenkins
    group: jenkins

# Make agent connections more resilient
jenkins_servers_group_kernel_params:
  - name: net.ipv4.tcp_keepalive_time
    value: 300
  - name: net.ipv4.tcp_keepalive_intvl
    value: 30
  - name: net.ipv4.tcp_keepalive_probes
    value: 40
