---

# NOTE: it's impossible to use Ansible to create this
# groupadd -r -g 199 gxadm
# useradd -r -u 199 -g gxadm -m -d /home/gxadm -c 'Galaxy Admin User' -s /bin/sh gxadm

galaxy_vms_group_groups:
  - "{{ tacc_groups.gxadm }}"

galaxy_vms_group_users:
  - "{{ tacc_users.gxadm }}"

galaxy_vms_group_authorized_key_users:
  - name: gxadm
    authorized: "{{ tacc_root_users }}"

galaxy_vms_group_lines:
  - line: ':programname, isequal, "galaxyctl" ~'
    insertbefore: '^.*\s+/var/log/messages$'
    firstmatch: true
    dest: "/etc/rsyslog.conf"
