uwsgi_read_timeout 300;

server {

    listen 443 ssl default_server;
    listen [::]:443 ssl default_server;

    server_name {{ inventory_hostname }};
}
{% for domain in mailman3_web_domains | default(mailman3_domains) %}

server {

    listen 443 ssl;
    listen [::]:443 ssl;

    server_name {{ domain }};

    location /static/ {
        alias /var/opt/mailman3/web/static/;
    }

    location / {
        include uwsgi_params;
        uwsgi_param Host $host;
        uwsgi_param X-Real-IP $remote_addr;
        uwsgi_param X-Forwarded-For $proxy_add_x_forwarded_for;
        uwsgi_param X-Forwarded-Proto $http_x_forwarded_proto;
        uwsgi_pass unix:///var/opt/mailman3/web/run/uwsgi_{{ domain }}.sock;
   }

}
{% endfor %}
