# LiteLLM Environment Variables
{% if litellm_database_type == 'postgresql' %}
DATABASE_URL="{{ __litellm_database_url }}"
{% elif litellm_database_type == 'sqlite' %}
DATABASE_URL=sqlite:///{{ litellm_sqlite_path }}
{% endif %}
LITELLM_MASTER_KEY={{ litellm_master_key }}
LITELLM_LOG=DEBUG
