---

authorized_keys_unprivileged:
  authorized: "{{ ['anvil_auto_key'] + galaxy_team_users }}"

hpc_home_root: "/home/x-xcgalaxy"
hpc_project_root: "/anvil/projects/x-mcb140147"
hpc_scratch_root: "/anvil/scratch/x-xcgalaxy"

hpc_pulsar_managers:
  test_anvil:
    type: queued_drmaa
    staging_directory: "{{ pulsar_staging_dir }}/test"
  anvil:
    type: queued_drmaa
    staging_directory: "{{ pulsar_staging_dir }}/main"
    preprocess_action_max_retries: 10
    preprocess_action_interval_start: 2
    preprocess_action_interval_step: 2
    preprocess_action_interval_max: 60
    postprocess_action_max_retries: 10
    postprocess_action_interval_start: 2
    postprocess_action_interval_step: 2
    postprocess_action_interval_max: 60
    min_polling_interval: 15

pulsar_systemd_unit_options:
  ConditionHost: "|{{ inventory_hostname }}"

pulsar_clean_jobs_percent_full_function: |
  python3 -c "print(round(max($(/usr/local/bin/myquota | awk '$1 == "scratch" {print $5,$8}' | tr -d '%' | tr ' ' ,))))" || echo 0
