---

# web servers are backup staging servers
nginx_ssl_servers:
  - usegalaxy
  - usegalaxy_staging

nginx_extra_configs:
  - usegalaxy_proxy.conf
  - usegalaxy_staging_proxy.conf
  - conf.d/rate_limit.conf

galaxy_memory_limit: 14
galaxy_memory_high: 12

galaxy_main_web_servers_group_gravity_config:
  gunicorn:
    - bind: 0.0.0.0:8080
      workers: 3
      timeout: 600
      restart_timeout: 600
      preload: true
      extra_args: --forwarded-allow-ips={{ lookup('dig', groups['galaxy_main_load_balancers'][0]) }} --max-requests 100000 --max-requests-jitter 20000 --worker-tmp-dir /dev/shm
      environment:
        # TODO: this can be removed once the base OS version of pango is >= 1.44.0
        LD_LIBRARY_PATH: "/cvmfs/{{ galaxy_cvmfs_repo }}/deps/_conda/envs/_galaxy_weasyprint_deps_/lib"
        HDF5_USE_FILE_LOCKING: "FALSE"
        GALAXY_CONFIG_SERVER_NAME: "{{ inventory_hostname_short | regex_replace('^galaxy-', '') }}-0"
    - bind: 0.0.0.0:8081
      workers: 3
      timeout: 600
      restart_timeout: 600
      preload: true
      extra_args: --forwarded-allow-ips={{ lookup('dig', groups['galaxy_main_load_balancers'][0]) }} --max-requests 100000 --max-requests-jitter 20000 --worker-tmp-dir /dev/shm
      environment:
        LD_LIBRARY_PATH: "/cvmfs/{{ galaxy_cvmfs_repo }}/deps/_conda/envs/_galaxy_weasyprint_deps_/lib"
        HDF5_USE_FILE_LOCKING: "FALSE"
        GALAXY_CONFIG_SERVER_NAME: "{{ inventory_hostname_short | regex_replace('^galaxy-', '') }}-1"
  tusd:
    enable: true
    tusd_path: /usr/local/sbin/tusd
    host: 0.0.0.0
    #extra_args: -behind-proxy -base-path /api/upload/resumable_upload
    #extra_args: -behind-proxy
    upload_dir: "{{ galaxy_tus_upload_store }}"
    memory_limit: 2
  # TODO: right now, the GxIT proxy runs on galaxy-db, because gx-it-proxy libpq needs postgres libs and a modern g++.
  #       when the frontend VM(s) run Rocky 9 you can switch this, and remove the gcc-c++ and postgresql16-devel
  #       packages from galaxy-db.
  #       also it is deployed by hand because gx-it-proxy is unreleased.
  #gx_it_proxy:
  #  enable: true
  #  port: "{{ gxit_proxy_port }}"
  #  sessions: "{{ galaxy_interactivetoolsproxy_map }}"
  #  verbose: true
  #  environment:
  #    # FIXME: the systemd service unit sets this as /srv/galaxay/main, which is not writable. When this is the case the
  #    # proxy fails to start with essentially no output (just writes an empty newline to the log file).
  #    HOME: "/home/g2main"

galaxy_main_web_servers_group_telegraf_plugins_extra:
  statsd:
    config:
      - service_address = "127.0.0.1:8125"
      - delete_gauges = false
      - delete_counters = false
      - delete_sets = false
      - delete_timings = true
      - percentiles = [90]
      - metric_separator = "_"
      - allowed_pending_messages = 10000
      - percentile_limit = 1000
      - '[inputs.statsd.tags]'
      - '  influxdb_database = "telegraf"'
  nginx:
    config:
      - urls = ["http://localhost/_status"]
  gunicorn_memory_high:
    plugin: "exec"
    config:
      - commands = ["/usr/local/bin/galaxy-telegraf gunicorn_memory_high"]
      - timeout = "10s"
      - data_format = "influx"
      - interval = "1m"
