apiVersion: v1
kind: Config
clusters:
- name: "local"
  cluster:
    server: "{{ kubeconfig_server_url }}"

users:
- name: "local"
  user:
    token: "{{ kubeconfig_token }}"


contexts:
- name: "local"
  context:
    user: "local"
    cluster: "local"

current-context: "local"
