---

all_links:
  - path: /galaxy
    src: /galaxy-repl
    force: yes

all_yum_repositories:
  - name: galaxy_gpel
    description: Galaxy Packages for Enterprise Linux $releasever - $basearch
    baseurl: https://depot.galaxyproject.org/yum/el/$releasever/$basearch/
    enabled: yes
    gpgcheck: no
  - name: galaxy
    state: absent
  - name: galaxy_slurm
    state: absent

all_packages:
  - git

__corral_ip: "{{ ((ansible_default_ipv4.address | ipv4('address') | ipaddr('int')) % 2) + 34 }}"
mounts:
  - src: 129.114.60.{{ __corral_ip }}:/gpfs/corral3/repl/projects/galaxy/
    path: /galaxy-repl
    fstype: nfs
    opts: rw,nosuid,noatime,rsize=1048576,wsize=1048576,intr,nfsvers=3,tcp,soft,addr=129.114.60.{{ __corral_ip }}
    owner: ndc
    group: G-803372

# run telegraf on everything
telegraf_agent_output:
  - type: influxdb
    config:
    - urls = ["http://stats.galaxyproject.org:8086"]
    - database = "system"

telegraf_plugins_default:
  - plugin: cpu
    config:
      - percpu = true
  - plugin: disk
  - plugin: kernel
  - plugin: processes
  - plugin: io
  - plugin: mem
  - plugin: system
  - plugin: swap
  - plugin: net
  - plugin: netstat
