##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##
ControlMachine={{ slurm_controller_name }}
ControlAddr={{ slurm_controller_ip }}
#
AuthType=auth/munge
JobCompLoc=/var/log/slurm/slurm.job.log
JobCompType=jobcomp/filetxt
PluginDir=/usr/lib64/slurm
SchedulerType=sched/backfill
SelectType=select/cons_res
SelectTypeParameters=CR_CPU_Memory
SlurmUser=slurm
SlurmctldPort=7002
SlurmctldTimeout=300
SlurmdPort=7003
SlurmdSpoolDir={{ slurmd_spool_dir }}
SlurmdTimeout=300
StateSaveLocation={{ slurmctld_state_dir }}
SwitchType=switch/none
TreeWidth=50
#AccountingStorageType=accounting_storage/filetxt
DefaultStorageLoc=/var/log/slurm/slurm_accounting
AccountingStorageType=accounting_storage/slurmdbd
AccountingStorageHost={{ slurm_dbd_server_name }}
#AccountingStoragePort=6819
AccountingStoragePort={{ slurm_dbd_server_port | default(6819) }}
#
JobAcctGatherType=jobacct_gather/cgroup
JobAcctGatherFrequency=task=15
ProctrackType=proctrack/cgroup
TaskPlugin=task/cgroup
#
ClusterName=roundup
ReturnToService=2
RebootProgram=/usr/sbin/reboot

# https://bugs.schedmd.com/show_bug.cgi?id=3941
UnkillableStepTimeout=300

SlurmctldLogFile=/var/log/slurm/slurmctld.log
SlurmctldDebug=debug
SlurmdLogFile=/var/log/slurm/slurmd.log
SlurmdDebug=debug

#
# Node Configurations
#
# Weight is set so that nodes exclusive to a partition will be preferred
NodeName=roundup[49-54] RealMemory=122880 CPUS=24 State=UNKNOWN Weight=0
NodeName=roundup[55-60] RealMemory=122880 CPUS=24 State=UNKNOWN Weight=10
NodeName=roundup[61-64] RealMemory=122880 CPUS=24 State=UNKNOWN Weight=0
NodeName=galaxy-1 NodeAddr=129.114.104.99 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-2 NodeAddr=129.114.104.89 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-3 NodeAddr=129.114.104.105 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-4 NodeAddr=129.114.104.64 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-5 NodeAddr=129.114.17.246 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-6 NodeAddr=129.114.104.142 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-7 NodeAddr=129.114.17.222 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-8 NodeAddr=129.114.104.120 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-9 NodeAddr=129.114.104.57 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-10 NodeAddr=129.114.104.100 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-11 NodeAddr=129.114.104.52 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-12 NodeAddr=129.114.104.124 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-13 NodeAddr=129.114.104.93 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-14 NodeAddr=129.114.104.130 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-15 NodeAddr=129.114.104.153 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-16 NodeAddr=129.114.104.98 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-17 NodeAddr=129.114.104.126 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-18 NodeAddr=129.114.104.34 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-19 NodeAddr=129.114.104.104 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-20 NodeAddr=129.114.104.96 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-21 NodeAddr=129.114.19.74 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-22 NodeAddr=129.114.19.62 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-23 NodeAddr=129.114.19.64 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-24 NodeAddr=129.114.19.70 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-25 NodeAddr=129.114.19.79 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-26 NodeAddr=129.114.17.227 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-27 NodeAddr=129.114.19.61 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-28 NodeAddr=129.114.16.160 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-29 NodeAddr=129.114.19.101 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-30 NodeAddr=129.114.19.60 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-31 NodeAddr=129.114.19.88 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-32 NodeAddr=129.114.19.71 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-33 NodeAddr=129.114.19.55 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-34 NodeAddr=129.114.19.68 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-35 NodeAddr=129.114.104.221 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-36 NodeAddr=129.114.19.66 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-37 NodeAddr=129.114.19.83 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-38 NodeAddr=129.114.19.94 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-39 NodeAddr=129.114.104.191 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10
NodeName=galaxy-40 NodeAddr=129.114.19.102 CPUS=10 RealMemory=29995 STATE=UNKNOWN Weight=10

#
# Partition Configurations
#
# Within nodes of a common weight, LLN is used; normal jobs are prioritized on shared nodes
PartitionName=multi State=UP MaxTime=8-00:00:00 MaxNodes=1 DefMemPerCPU=5120 Nodes=roundup[49-60] LLN=YES PriorityTier=0
PartitionName=normal State=UP MaxTime=8-00:00:00 MaxNodes=1 DefMemPerCPU=7680 Nodes=roundup[55-64] LLN=YES Default=YES PriorityTier=10
PartitionName=reserved State=UP MaxTime=8-00:00:00 MaxNodes=1 DefMemPerCPU=7680 Nodes=roundup[49-64] PriorityTier=20
PartitionName=jsmulti State=UP MaxTime=8-00:00:00 MaxNodes=1 DefMemPerCPU=4990 Nodes=galaxy-[1-40] LLN=YES PriorityTier=0
PartitionName=jsnormal State=UP MaxTime=8-00:00:00 MaxNodes=1 DefMemPerCPU=7490 Nodes=galaxy-[1-40] LLN=YES PriorityTier=10
PartitionName=jsreserved State=UP MaxTime=8-00:00:00 MaxNodes=1 DefMemPerCPU=7490 Nodes=galaxy-[1-40] LLN=YES PriorityTier=20
