---

galaxy_memory_limit: 6
galaxy_memory_high: 4

galaxy_main_handler_servers_group_gravity_config:
  handlers:
    handler:
      name_template: "{name}{process}"
      processes: 4
      pools:
        - job-handlers
      environment:
        HDF5_USE_FILE_LOCKING: "FALSE"
    workflow_scheduler:
      name_template: "{name}{process}"
      processes: 1
      pools:
        - workflow-schedulers
      environment:
        HDF5_USE_FILE_LOCKING: "FALSE"
        GALAXY_CONFIG_LOG_LEVEL: INFO

galaxy_main_handler_servers_group_telegraf_plugins_extra:
  procstat_handler0:
    plugin: procstat
    config:
      - pattern = "main\\.py.*handler0"
      - 'user = "{{ galaxy_user }}"'
  procstat_handler1:
    plugin: procstat
    config:
      - pattern = "main\\.py.*handler1"
      - 'user = "{{ galaxy_user }}"'
  procstat_handler2:
    plugin: procstat
    config:
      - pattern = "main\\.py.*handler2"
      - 'user = "{{ galaxy_user }}"'
  procstat_handler3:
    plugin: procstat
    config:
      - pattern = "main\\.py.*handler3"
      - 'user = "{{ galaxy_user }}"'
  procstat_workflow_scheduler:
    plugin: procstat
    config:
      - pattern = "main\\.py.*workflow_scheduler0"
      - 'user = "{{ galaxy_user }}"'
  statsd:
    config:
      - service_address = "127.0.0.1:8125"
      - delete_gauges = false
      - delete_counters = false
      - delete_sets = false
      - delete_timings = true
      - percentiles = [90]
      - metric_separator = "_"
      - allowed_pending_messages = 10000
      - percentile_limit = 1000
      - '[inputs.statsd.tags]'
      - '  influxdb_database = "telegraf"'
  handler_memory_high:
    plugin: "exec"
    config:
      - commands = ["/usr/local/bin/galaxy-telegraf handler_memory_high"]
      - timeout = "10s"
      - data_format = "influx"
      - interval = "1m"
