##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

# syslog facility
FACILITY={{ zfs_prunesnaps_syslog_facility }}

# datasets to prune
DATASETS=(
{% for dataset in zfs_prunesnaps_datasets %}
    {{ dataset }}
{% endfor %}
)

# default policy
PRUNE[r]={{ zfs_prunesnaps_default_policy.r }}
PRUNE[d]={{ zfs_prunesnaps_default_policy.d }}
PRUNE[w]={{ zfs_prunesnaps_default_policy.w }}
PRUNE[m]={{ zfs_prunesnaps_default_policy.m }}
PRUNE[y]={{ zfs_prunesnaps_default_policy.y }}

# dataset overrides
{% for key, value in zfs_prunesnaps_overrides %}
PRUNE[{{ key }}]={{ value }}
{% endfor %}
