##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##
[Unit]
Description=MMseqs2 Server
After=network.target
{% for opt in colabfold_msa_server_systemd_unit_options | default({}) | dict2items %}
{{ opt.key }}={{ opt.value }}
{% endfor %}

[Service]
WorkingDirectory={{ colabfold_msa_server_root }}
#Environment="MMSEQS_NUM_THREADS=1"
ExecStart=/bin/bash {{ colabfold_msa_server_root }}/server/msa-server-init
Type=simple
Restart=on-failure
RestartSec=10s

[Install]
WantedBy={{ colabfold_msa_server_systemd_wanted_by | default("multi-user.target") }}
