//
// This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
//
{
    "app": "colabfold",
    "verbose": true,
    "server" : {
        "address"    : "0.0.0.0:{{ colabfold_msa_server_port }}",
        "dbmanagment": false,
        "cors"       : true
    },
    "paths" : {
        "databases"    : "/dev/shm/colabfold_databases",
        "results"      : "{{ colabfold_msa_server_jobs }}",
        "temporary"    : "{{ colabfold_msa_server_tmp }}",
        "colabfold"    : {
            "parallelstages": true,
            "uniref"        : "{{ colabfold_msa_server_runtime_databases }}/uniref30_2302_db",
            "pdb"           : "{{ colabfold_msa_server_runtime_databases }}/pdb100_230517",
            "pdb70"         : "{{ colabfold_msa_server_runtime_databases }}/pdb100",
            "environmental" : "{{ colabfold_msa_server_runtime_databases }}/colabfold_envdb_202108_db",
            "pdbdivided"    : "{{ colabfold_msa_server_databases }}/pdb/divided",
            "pdbobsolete"   : "{{ colabfold_msa_server_databases }}/pdb/obsolete"

        },
        "mmseqs"       : "{{ colabfold_msa_server_bin }}/mmseqs"
    },
    "local" : {
        // this will allow up to 16 jobs at the same time
        "workers"  : {{ colabfold_msa_server_workers }}
    },
    // ignore the rest, redis is not used here
    "redis" : {
        "network"  : "tcp",
        "address"  : "mmseqs-web-redis:6379",
        "password" : "",
        "index"    : 0
    },
    "mail" : {
        "type"      : "null",
        "sender"    : "mail@example.org",
        "templates" : {
            "success" : {
                "subject" : "Done -- %s",
                "body"    : "Dear User,\nThe results of your submitted job are available now at https://search.mmseqs.com/queue/%s .\n"
            },
            "timeout" : {
                "subject" : "Timeout -- %s",
                "body"    : "Dear User,\nYour submitted job timed out. More details are available at https://search.mmseqs.com/queue/%s .\nPlease adjust the job and submit it again.\n"
            },
            "error"   : {
                "subject" : "Error -- %s",
                "body"    : "Dear User,\nYour submitted job failed. More details are available at https://search.mmseqs.com/queue/%s .\nPlease submit your job later again.\n"
            }
        }
    }
}

