---

host_authorized_key_users: "{{ vault_host_authorized_key_users }}"
host_private_key_users: "{{ vault_host_private_key_users }}"

host_packages:
  - rsync   # need >=3.1.0 for --info

host_users:
  - name: zfsdump-orval
    group: zfsdump-orval
    comment: 'ZFS receive orval'
    home: /home/zfsdump-orval
    shell: /bin/bash
  - name: zfsdump-radegast
    group: zfsdump-radegast
    comment: 'ZFS receive radegast'
    home: /home/zfsdump-radegast
    shell: /bin/bash
  - name: zfsdump-leeroy
    group: zfsdump-leeroy
    comment: 'ZFS receive leeroy'
    home: /home/zfsdump-leeroy
    shell: /bin/bash
  - name: zfsdump-biostar
    group: zfsdump-biostar
    home: /home/zfsdump-biostar
    shell: /bin/bash
  - name: zfsdump-gxmain
    group: zfsdump-gxmain
    comment: 'ZFS receive Galaxy Main'
    shell: /bin/bash
  - name: nate
    uid: 2048
    group: nate
    gid: 2048
    comment: Nate Coraor
    home: /home/nate
    shell: /bin/bash

zfs_filesystems:
  - name: zones/westvleteren/backup
    atime: "off"
    exec: "off"
    setuid: "off"
    compression: lz4
  - name: zones/westvleteren/backup/orval
    owner: zfsdump-orval
    group: zfsdump-orval
  - name: zones/westvleteren/backup/radegast
    owner: zfsdump-radegast
    group: zfsdump-radegast
  - name: zones/westvleteren/backup/radegast/postgres
    owner: zfsdump-radegast
    group: zfsdump-radegast
  - name: zones/westvleteren/backup/radegast/postgres/current
    owner: zfsdump-radegast
    group: zfsdump-radegast
  - name: zones/westvleteren/backup/radegast/testshed
    owner: zfsdump-radegast
    group: zfsdump-radegast
  - name: zones/westvleteren/backup/radegast/mainshed
    owner: zfsdump-radegast
    group: zfsdump-radegast
  - name: zones/westvleteren/backup/leeroy
    owner: zfsdump-leeroy
    group: zfsdump-leeroy
  - name: zones/westvleteren/backup/leeroy/jenkins
    owner: zfsdump-leeroy
    group: zfsdump-leeroy
  - name: zones/westvleteren/backup/biostar
    owner: zfsdump-biostar
    group: zfsdump-biostar
  - name: zones/westvleteren/backup/biostar/data
    owner: zfsdump-biostar
    group: zfsdump-biostar
  - name: zones/westvleteren/backup/galaxy
    owner: root
    group: root
  - name: zones/westvleteren/backup/galaxy/main
    owner: zfsdump-gxmain
    group: zfsdump-gxmain
  - name: zones/westvleteren/backup/galaxy/main/publibs
    owner: zfsdump-gxmain
    group: zfsdump-gxmain

zfs_admin_permissions:
  - name: zones/westvleteren/backup/orval
    users: zfsdump-orval
    permissions: compression,create,mount,receive
  - name: zones/westvleteren/backup/radegast
    users: zfsdump-radegast
    permissions: snapshot
  - name: zones/westvleteren/backup/leeroy
    users: zfsdump-leeroy
    permissions: snapshot
  - name: zones/westvleteren/backup/biostar
    users: zfsdump-biostar
    permissions: snapshot
  - name: zones/westvleteren/backup/galaxy/main
    users: zfsdump-gxmain
    permissions: snapshot

host_directories:
  - path: /zones/westvleteren/backup/radegast/postgres/active
    owner: zfsdump-radegast
    group: zfsdump-radegast
  - path: /etc/prunesnaps

host_files:
  - src: westvleteren/prunesnaps.conf
    dest: /etc/prunesnaps/prunesnaps.conf
  - src: system/prunesnaps
    dest: /usr/local/sbin/prunesnaps
    mode: "0755"

host_lines:
  - path: /opt/local/etc/rsyslog.conf
    line: "local0.debug	/var/log/prunesnaps.log"
    backup: yes
    notify:
      - "reload syslog"
